.container {
  align-items: center;
  display: flex;
  position: relative;
  width: fit-content;
}

.badge {
  align-items: center;
  background-color: #e8f0fe;
  border-radius: 2000px;
  color: #1967d2;
  display: flex;
  font-size: 14px;
  font-weight: 500;
  gap: 4px;
  letter-spacing: 1px;
  line-height: 1;
  padding: 6px 10px;
}

.info-icon {
  height: 12px;
  line-height: 0;
  margin-inline-start: 6px;
  width: 12px;
}
