:host {
  position: absolute;
}

.container {
  background: white;
  border: 1px solid #333;
  border-radius: 10px;
  overflow: hidden;
  padding: 10px;
  pointer-events: none;
  transition: opacity 300ms ease, visibility 300ms ease;
  max-width: 200px;
}

.container:not(.container\:open) {
  opacity: 0;
  visibility: hidden;
}

.container\:open {
  opacity: 1;
  visibility: visible;
}
